.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;

  .title {
    font-family: 'Montserrat Semibold';
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
  }

  &__inner, &__inner-products {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  &__inner {
    &-products {
      position: relative;
      font-size: 17px;
      line-height: 22px;
      text-align: right;
    }

    &-basket {
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        opacity: 0.6;
      }
    }

    &-button {
      padding: 12px 85px;
      color: #D58C51;
      border: 1px solid #D58C51;
      background-color: transparent;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: #D58C51;
        color: #131313;
      }
    }
  }
}