.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/background.svg) no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    background-position: center;
}

.registration, .authorization {
    background-color: white;
    padding: 7px 20px 34px;
    border-radius: 5px;

    &-link {
        display: flex;
        justify-content: right;
        margin-bottom: 15px;

        & a {
            font-family: 'Montserrat Extra Light';
            font-size: 11px;
            font-weight: 300;
            color: #D58C51;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-input {
        font-family: 'Montserrat Regular';
        font-weight: 400;
        border: 1px solid #D58C51;
        border-radius: 61px;
        padding: 10px 18px;
        width: 420px;
        &:focus-visible {
            outline: none;
        }
    }
    &-btn {
        padding: 12px 77px;
        cursor: pointer;
        background-color: #D58C51;
        font-size: 14px;
        

        &__wrapper {
            padding-top: 46px;
            display: flex;
            justify-content: center;
        }
    }
}

.text {
    font-family: 'Montserrat Bold';
    font-size: 31px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 36px;
    text-transform: uppercase;
}

#checkbox {
    width: 1rem;
    height: 1rem;
    border: 1px solid #D58C51;
    appearance: none;
    margin: 0 4px;
    border-radius: 50%;
    &:checked {
        background: #D58C51;
    }
}

.error-message {
  color: red;
  font-size: 8px;
  font-weight: 300;
  padding-left: 18px;
  padding-top: 1px;
}